<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<style>
    fieldset{border:1px solid #1ab394; padding:10px;}
    legend{display: block;
        width: auto;
        padding: 0;
        margin-bottom: 0;
        font-size: 14px;
        color: #333;
        border: none;
    }

    .input-upload{ position: relative;}
    .input-upload input[type="file"]{ position: absolute; left: 0px; top: 0px; width: 72px; height: 35px; opacity:.0;filter:alpha(opacity=00);}

</style>

<form id="editForm" method="post" class="form-horizontal">
    <fieldset>
        <legend>编辑</legend>
        <input type="text" id="flinkId" name="flinkId" hidden th:value="${flink.flinkId}">
        <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="siteName" name="siteName" maxlength="35" th:value="${flink.siteName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">作者</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="siteAuthor" name="siteAuthor" maxlength="35"
                       th:value="${flink.siteAuthor}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="siteUrl" name="siteUrl" maxlength="35" th:value="${flink.siteUrl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="siteDesc" name="siteDesc" maxlength="35" th:value="${flink.siteDesc}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sort" name="sort" th:value="${flink.sort}" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button class="btn btn-primary" type="button" onclick="saveEdit()">保存</button>
                <button class="btn btn-white" type="button" onclick="closeEditWindow()">取消</button>
            </div>
        </div>
    </fieldset>
</form>
</html>