<!--格言-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
    <div class="widget-wrap" th:fragment="aphorism">
        <h3 class="follow">人生格言</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp bg-aphorism">
                <p class="bg-danger">
                    Thought + The square of the speed of action = Human potential. <br>

                    思想+行动速度的平方 = 人的潜力 <br> <br>
                    <span class="aphorism-author"> --座右铭</span>
                    <br>
                </p>
            </div>
        </div>
    </div>
</body>

</html>