<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div class="widget-wrap" th:fragment="typeList">
        <h3 class="follow">文章分类</h3>
        <div class="widget">
            <ul class="category-list">
                <li class="category-list-item" th:each="type : ${typeList}" style="cursor: pointer">
                    <a class="category-list-link" target="indexFrame" th:href="'/type/list/'+${type.typeId}"
                       th:text="${type.typeName}"></a>
                    <span class="category-list-count" th:text="${type.articleCount}"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>