package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 *
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 *         (M.M)!
 *         Created by ${date}.
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}