<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="blog/part/head :: head"></head>
<body>

<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        <header class="article-header">
            <h1 class="article-title" itemprop="name">猫爷 　!一 一）> <b style="font-size: 22px;" e th:text="${vt}"></b> vt
            </h1>
        </header>


        <div class="article-entry" itemprop="articleBody" lg-uid="lg0">

            <p>生于90后年，福建人，软件工程学士，曾任职于浪潮分公司、新石器，现就职于欧浦，从事电商、物流、ERP、金融产品研发工作。</p>
            <p>
                从大学一不小心入错行开始接触软件相关知识，闲时研究与实践新技术，对构架开发颇有兴趣。
                曾独立开发或组织团队研究过一些项目。并积累了一些便捷好用方便开发的工具与书籍。
                通过闲时研究与实践新技术，丰富自身的技术知识架构，拓展广度深度面对问题就会有更多的解决思路和方向。
                另一方面，通过结帮拉派组队打团，对敏捷管理一些了解，通过禅道与TAPD系统，制定开发过程等精细化管理方式，
                让来自网络的队友们能够在低沟通成本之下，完成高效率的开发任务。</p>
            <p>目前，主要研究Spring 全家桶 。在这里感谢各位持续关注并提出很多好建议与好问题的读者！</p>
            <p>虽然有很多东西都想分享出来，但最近因工作任务繁忙，减缓代码与博文更新频率，还请见谅。</p>

            <!-- css -->
            <style type="text/css">
                .center {
                    text-align: center;
                }
            </style>
            <!-- /css -->

            <div class="center">

                <!-- 代码1：放在页面需要展示的位置  -->
                <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                <div id="cyReward" role="cylabs" data-use="reward"></div>
                <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
                <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
                <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
                <script type="text/javascript" charset="utf-8"
                        src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8"
                        src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysYIxwh2"></script>

            </div>

            <style>
                @media (min-width: 768px) {
                    .copyright-left {
                        float: left;
                        width: 80%;
                    }

                    .copyright-right {
                        float: left;
                        width: 20%;
                    }
                }

            </style>


            <div style="text-align: center;">


            </div>

        </div>
        <footer class="article-footer">

                    <span style="display:inline-block;width:111px;float: right;">
                <a style="float:left;text-decoration:none;" target="_blank"
                   href="https://www.banquanyin.com/u/101709080007652">
                    <img src="https://s1.banquanyin.com/c/icon-yin-32.png" title="更多授权"
                         style="width:inherit;">
                </a>
                <a target="_blank" href="https://101709080007652.bqy.mobi">
                    <img src="https://s1.banquanyin.com/c/icon-auth-cr-32.png" title="获取授权"
                         style="width:inherit;">
                </a>
            </span>
        </footer>
    </div>

</article>


</body>
</html>