<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<div class="timeline timeline-wrap" th:fragment="archive-summary">
    <div class="timeline-row timeline-row-major">
        <h1 class="title">时间轴</h1>
    </div>

    <div th:each="article: ${page.records}">
        <div class="timeline-row timeline-row-major">
            <span class="node"><i class="fa fa-calendar"></i></span>
            <h1 class="title" th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}"></h1>
        </div>
        <h1 itemprop="name">
            <a class="timeline-article-title" target="_blank" th:href="'/article/details/'+${article.articleId}"
               th:text="${article.title}"></a>
        </h1>
    </div>

    <!-- 自定义分页插件 Url : 方法请求数据路径 data : 当前页面参数 -->
    <div th:include="blog/part/page :: page" url="/archive"></div>

</div>

</html>

